.wrapper {
    margin: 2rem 5rem 1rem;
    text-align: center;
    h2 {
        color: rgb(35, 128, 234);
    }
    .title {
        margin-bottom: 20px;
    }

    .booklist {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        margin-bottom: 20px;

        @media (max-width: 1200px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (max-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 576px) {
            grid-template-columns: 1fr; 
        }
    }
    .paginationWrapper {
        display: flex;
        justify-content: flex-end; 
        margin-top: 20px;

        @media (max-width: 576px) {
            justify-content: center; 
        }
    }
}
