.categoryBooksContainer {
    padding: 20px;
    h2 {
        margin-bottom: 20px;
        text-align: center;
        color: rgb(35, 128, 234);
    }
}

.bookList {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px; 
    justify-items: center;

    @media (max-width: 1200px) {
        grid-template-columns: repeat(4, 1fr); 
    }

    @media (max-width: 992px) {
        grid-template-columns: repeat(3, 1fr); 
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr); 
    }

    @media (max-width: 576px) {
        grid-template-columns: repeat(1, 1fr); 
    }
}

.bookItem {
    width: 100%;
    max-width: 200px;
    text-align: center;
}
